<!DOCTYPE html>
<html lang="en">
<head>
    <title>😂 😝 Emojis 😜 😋 - Easily copy emojis to your clipboard!</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Easily copy emojis to your clipboard to paste in other sites!"></meta>
    <meta name="keywords" content="emojis, emoji, smileys, smileys, face icons, emoticons"></meta>
    <meta name="robots" content="index,follow"></meta>
    <!-- bower:css -->
    <link rel='stylesheet' href='../bower_components/toastr/toastr.css' />
    <!-- endbower -->
    <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192"  href="/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link href='https://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <% include fonts-declaration %>
    <style>

        body {
            background-color: rgb(20, 20, 20);
            display: flex;
            flex-direction: column;
            margin: 0;
            padding: 0;
            font-family: 'NotoSans', sans-serif;
            min-height: 100vh;
        }

        header, footer {
            overflow: hidden;
            min-height: 80px;
            background-color: #4134E4;
            color: rgb(244, 244, 244);
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            flex-grow: 1;
            width: 960px;
            margin: auto;
            display: block;
            box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
            border: solid 1px grey;
            border-top-width: 0;
            border-bottom-width: 0;
            background-color: rgb(244, 244, 244);
            text-align: center;
            flex-grow: 1;
        }

        .search {
            width: 50%;
            height: 30px;
            font-size: 1.5em;
            padding: 10px;
            text-align: center;
        }

        .emojis {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            font-family: "OpenSansEmoji";
        }

        .emoji {
            width: 100px;
            height: 100px;
            border-radius: 5px;
            border: solid 1px grey;
            text-align: center;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 15px;
            cursor: pointer;
            box-shadow: inset 0 -5px 15px rgba(0, 0, 0, 0.1);
            transition: box-shadow 100ms;
        }

        .emoji:hover {
            box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.2);
        }

        .emoji:active {
            box-shadow: inset 0 5px 15px rgba(0, 0, 0, 0.4);
            border-color: black;
        }

        .emoji:hover .raw {
            opacity: 0.9;
        }

        .emoji .raw {
            transition: color 100ms;
            font-size: 3em;
            color: black;
            max-width: 100%;
        }

        small {
            display: block;
            margin: 20px auto;
        }

        .instructions {
            text-align: center;
            margin: 0;
            padding: 25px 0;
        }

        a, a:hover, a:visited, a:active {
            color: #37EE5F;
        }

        .site-name a {
            color: rgb(244, 244, 244);
            text-decoration: none;
            text-transform: uppercase;
            letter-spacing: 5px;
        }

        @media screen and (max-width: 960px) {
            main {
                width: 100%;
                overflow-x: hidden;
            }
            .emoji .raw {
                transform: scale(2);
                font-size: 1em;
                padding-bottom: 10px;
            }
            small {
                padding: 0 10px;
            }
            .search {
                width: 90%;
                font-size: 1.2em;
            }
        }
        .big {
            font-size: 2em;
        }
    </style>
</head>
<body class="container">
    <header>
        <div class="logo"></div>
        <div class="site-name">
            <h1><a href="/">emojis.cubyard.com</a></h1>
        </div>
    </header>
    <main>
        <style id='search-helper'></style>
        <h1 class='instructions'>Click on any emoji to copy it to your clipboard!</h1>
        <input class="search" type="text" placeholder="Or search for it! 😉" />
        <small>Note: Some emojis may not be supported on your computer, so they will show up as <span class="big">&#99999;.</span></small>
        <div class="emojis">
            <% emojis.forEach(function(emoji){ %>
                <div class="emoji" data-clipboard-text="<%- emoji.raw %>" data-aliases='<%- emoji.aliases.join(' ') %>' >
                    <div class="raw" title="<%= emoji.aliases[0] %>"><%= emoji.raw %></div>
                </div>
            <% }); %>
        </div>
    </main>
    <footer>
        <div>This was made by <a href="https://github.com/arjabbar">Abdur Jabbar</a>.</div>
    </footer>
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/toastr/toastr.js"></script>
    <script src="../bower_components/prefixfree/prefixfree.min.js"></script>
    <!-- endbower -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.5/clipboard.js"></script>
    <script>
        var clipboard = new Clipboard('.emoji');
        clipboard.on('success', function(e) {
            toastr.info("Copied " + e.text + " to your clipboard!");
        }).on('failure', function() {
            toastr.error("😞 Looks like my app doesn't support your browser yet! You can still just highlight and copy the emojis just like they're regular text though. 😞");
        });

        var searchHelper = $('#search-helper')[0];

        $('.search').on('keyup', function() {
            var searchText = $(this).val().toLowerCase();
            searchHelper.innerText = ".emoji:not([data-aliases*=" + searchText + "]){display: none;}";
        });
    </script>
</body>
</html>